.Deck-input {
	padding: 70px 0;
}

.Deck h1 {
	color: azure;
	margin-top: 20px;
}

.Deck button {
	box-shadow: inset 0px 1px 0px 0px #a4e271;
	background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color: #89c403;
	border-radius: 6px;
	border: 1px solid #74b807;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528009;
}

.Deck button:hover {
	background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color: #77a809;
}

.Deck button:active {
	position: relative;
	top: 1px;
}

.Deck .card-area {
	margin-top: 80px;
}
